.topHeader {
    .headerWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        img {
            max-width: 60px;
            height: auto;
        }
        .languageNav {
            Button:first-child {
                margin-right: 4px;
            }
        }
       
    } 
}