.skills {
    padding: 30px 0;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    .skill {
        text-align: left;
        margin-bottom: 15px;
        h3 {
            margin-bottom: clamp(5px, 1vw , 15px );
        }
        @media (min-width: 768px) {
            display: inline-block;
            width: calc(50% - 30px);
                &:nth-child(odd) {
                    margin-right: 30px;
                }
        }
        
    }
}